src/main/resources/supermarket.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="supermarket">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="store" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="checkouts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="checkout" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="id" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="is_active" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="address" use="optional"/>
                                    <xs:attribute type="xs:int" name="postal_code" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:short" name="id" use="optional"/>
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:float" name="price" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="customers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:short" name="id" use="optional"/>
                                            <xs:attribute type="xs:string" name="first_name" use="optional"/>
                                            <xs:attribute type="xs:string" name="last_name" use="optional"/>
                                            <xs:attribute type="xs:string" name="email" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:short" name="id" use="optional"/>
                                            <xs:attribute type="xs:string" name="username" use="optional"/>
                                            <xs:attribute type="xs:string" name="email" use="optional"/>
                                            <xs:attribute type="xs:string" name="password" use="optional"/>
                                            <xs:attribute type="xs:byte" name="role_id" use="optional"/>
                                            <xs:attribute type="xs:byte" name="store_id" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>